In [1]:
#importing the required libraries

%matplotlib inline 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#customizing with some CSS

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [49]:
#Reading the Movies Data.

movies = pd.read_excel('data/Movies.xlsx',index_col=None)
movies['Year'] = (movies['Movie Name']).str.extract('(\d\d\d\d)',expand = True)
movies['Movie Name'] = (movies['Movie Name']).str.replace('(\(....\))','')
total=movies['Movie ID'].count()
movies['Genrenew'] = movies.Genre.str.split('\|')
for index in range(0,total):
      for y in range(0,len(genre[index])):
            movies1 = movies.iloc
#movies['Genre'] = genre[x][y]
        #for lab,row in movies.iterrows():
                #movies.loc[lab,"new"] = genre[index][y]
    #movies1['Movie Name'] = {'Name':movies['Movie Name']}
    #print(genre)
movies1.head(10)

,Movie ID,Movie Name,Genre,Year,Genrenew
0,1,Toy Story,Animation|Children's|Comedy,1995,"[Animation, Children's, Comedy]"
1,2,Jumanji,Adventure|Children's|Fantasy,1995,"[Adventure, Children's, Fantasy]"
2,3,Grumpier Old Men,Comedy|Romance,1995,"[Comedy, Romance]"
3,4,Waiting to Exhale,Comedy|Drama,1995,"[Comedy, Drama]"
4,5,Father of the Bride Part II,Comedy,1995,[Comedy]
5,6,Heat,Action|Crime|Thriller,1995,"[Action, Crime, Thriller]"
6,7,Sabrina,Comedy|Romance,1995,"[Comedy, Romance]"
7,8,Tom and Huck,Adventure|Children's,1995,"[Adventure, Children's]"
8,9,Sudden Death,Action,1995,[Action]
9,10,GoldenEye,Action|Adventure|Thriller,1995,"[Action, Adventure, Thriller]"

In [30]:
#Reading the Ratings Data.

ratings = pd.read_excel('data/Ratings.xlsx',index_col=None)

del ratings['Timestamp'] #Removing Timestamp column
ratings.head()

   User ID  Movie ID  Rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [54]:
#Reading the Users Data.

users = pd.read_excel('data/Users.xlsx',index_col=None)
del users['Zipcode'] #Removing Zipcode column, since it is not required.
for index,row in users.iterrows():
    if(row.Occupation == 0):
        users.loc[index,"Profession"]="Other"
    elif(row.Occupation == 1):
        users.loc[index,"Profession"]="Academic"
    elif(row.Occupation == 2):
        users.loc[index,"Profession"]="Artist"
    elif(row.Occupation == 3):
        users.loc[index,"Profession"]="Clerk"
    elif(row.Occupation == 4):
        users.loc[index,"Profession"]="College Student"
    elif(row.Occupation == 5):
        users.loc[index,"Profession"]="Customer Service"
    elif(row.Occupation == 6):
        users.loc[index,"Profession"]="Doctor"
    elif(row.Occupation == 7):
        users.loc[index,"Profession"]="Manager"
    elif(row.Occupation == 8):
        users.loc[index,"Profession"]="Farmer"
    elif(row.Occupation == 9):
        users.loc[index,"Profession"]="HomeMaker"
    elif(row.Occupation == 10):
        users.loc[index,"Profession"]="K-12 Student"
    elif(row.Occupation == 11):
        users.loc[index,"Profession"]="Lawyer"
    elif(row.Occupation == 12):
        users.loc[index,"Profession"]="Programmer"
    elif(row.Occupation == 13):
        users.loc[index,"Profession"]="Retired"
    elif(row.Occupation == 14):
        users.loc[index,"Profession"]="Sales"
    elif(row.Occupation == 15):
        users.loc[index,"Profession"]="Scientist"
    elif(row.Occupation == 16):
        users.loc[index,"Profession"]="Self-Employed"
    elif(row.Occupation == 17):
        users.loc[index,"Profession"]="Engineer"
    elif(row.Occupation == 18):
        users.loc[index,"Profession"]="Craftsman"
    elif(row.Occupation == 19):
        users.loc[index,"Profession"]="Unemployed"
    elif(row.Occupation == 20):
        users.loc[index,"Profession"]="Writer"
                #movies.loc[lab,"new"] = genre[index][y]
users.head(100)

    User ID Sex  Age Group  Occupation       Profession
0         1   F          1          10     K-12 Student
1         2   M         56          16    Self-Employed
2         3   M         25          15        Scientist
3         4   M         45           7          Manager
4         5   M         25          20           Writer
5         6   F         50           9        HomeMaker
6         7   M         35           1         Academic
7         8   M         25          12       Programmer
8         9   M         25          17         Engineer
9        10   F         35           1         Academic
10       11   F         25           1         Academic
11       12   M         25          12       Programmer
12       13   M         45           1         Academic
13       14   M         35           0            Other
14       15   M         25           7          Manager
15       16   F         35           0            Other
16       17   M         50           1         Academic
17       18   F         18           3            Clerk
18       19   M          1          10     K-12 Student
19       20   M         25          14            Sales
20       21   M         18          16    Self-Employed
21       22   M         18          15        Scientist
22       23   M         35           0            Other
23       24   F         25           7          Manager
24       25   M         18           4  College Student
25       26   M         25           7          Manager
26       27   M         25          11           Lawyer
27       28   F         25           1         Academic
28       29   M         35           7          Manager
29       30   F         35           7          Manager
..      ...  ..        ...         ...              ...
70       71   M         25          14            Sales
71       72   F         45           0            Other
72       73   M         18           4  College Student
73       74   M         35          14            Sales
74       75   F          1          10     K-12 Student
75       76   M         35           7          Manager
76       77   M         18           4  College Student
77       78   F         45           1         Academic
78       79   F         45           0            Other
79       80   M         56           1         Academic
80       81   F         25           0            Other
81       82   M         25          17         Engineer
82       83   F         25           2           Artist
83       84   M         18           4  College Student
84       85   M         18           4  College Student
85       86   F          1          10     K-12 Student
86       87   M         25          14            Sales
87       88   F         45           1         Academic
88       89   F         56           9        HomeMaker
89       90   M         56          13          Retired
90       91   M         35           7          Manager
91       92   F         18           4  College Student
92       93   M         25          17         Engineer
93       94   M         25          17         Engineer
94       95   M         45           0            Other
95       96   F         25          16    Self-Employed
96       97   F         35           3            Clerk
97       98   F         35           7          Manager
98       99   F          1          10     K-12 Student
99      100   M         35          17         Engineer

[100 rows x 5 columns]